img{
    width: 30%;
    float: left;
    margin: 1.66%;
    opacity: 0.5;
    transition: 0.2s;
}

img:hover {
    opacity:1.0;
}

p{
    font-family: 'Arima Madurai', cursive;
    margin-left: 1.66%;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid lightgray;
    width: 30%;
    padding-bottom: 20px;
}

#copyright{
    font-size: 10px;
    color: darkgrey;
    border-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-left: 50%;

}

#photos{
    margin: 40px auto;
    width: 85%;
}