img{
    width: 30%;
    float: left;
    margin: 1.66%;
    opacity: 0.5;
    transition: 0.2s;
}

img:hover {
    opacity:1.0;
}

#title{
    font-family: 'Arima Madurai', cursive;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
    padding-top: 1%;
}

#copyright{
    font-size: 10px;
    color: darkgrey;
    border-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;

}

.navbar-inverse{
    background:#2c3e50;
}

.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}

